{% extends 'base.html' %}
{% block headers %}
<link 
    rel="stylesheet" 
    type="text/css"
    href="{{url_for('static', filename='css/index.css')}}" 
    media="all">
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.8.0/math.js" 
    integrity="sha512-VW8/i4IZkHxdD8OlqNdF7fGn3ba0+lYqag+Uy4cG6BtJ/LIr8t23s/vls70pQ41UasHH0tL57GQfKDApqc9izA==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block body %}
<section class="hero is-full-page">
    <aside class="hero-aside is-full-page is-left container is-vertical">
        <div class="container is-vertical">
            <label class="label is-title" for="method-selector">Selección de método</label>
            <select id="method-selector" class="is-full-width is-large">
                <option value="" selected disabled>Elegir método...</option>
                <option value="newton-raphson">Newton-Raphson</option>
                <option value="">Otro metodo</option>
                <option value="">Otro metodo</option>
                
            </select>
        </div>
        <div id="data-container" class="container is-vertical">
        </div>
    </aside>
    <section class="hero-content is-full-page is-vertical is-right">
        <canvas id="graphics-plotter"></canvas>
        <!-- <section id="graphics-plotter"></section> -->
    </section>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
